body, h1, h1 span { background: #fff; }
h1 { box-shadow: 0 5px 9px #fff; }
body { color: #555; }
#time_clock_button { box-shadow: 0 0 15px #555; }
h1:before { border-top: 4px solid #aaa; }
fieldset { border: 2px solid #aaa; }
.space { background: #ccc; }

body {
    font-family: Arial, Helvetica, sans-serif;
}

#time_clock_button {
    background: #17b117;
    border: 0;
    border-radius: 100%;
    width: 160px;
    height: 160px;
    color: white;
    /* font-weight: bold; */
    font-size: 1.6rem;
    transition: .5s;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

#time_clock_button:hover {
    filter: brightness(80%);
}

h1 {
    z-index: 1;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
}

h1:before {
    content:"";
    margin: 0 auto;
    position: absolute;
    top: 50%; left: 0; right: 0; bottom: 0;
    width: 95%;
    z-index: -1;
}

h1 span {
    padding: 0 15px; 
    margin-left: 12%;
}

fieldset {
    /* border: 1px solid #aaa; */
    height: 80px;
    margin: 15px;
    position: relative;
}

legend {
    padding: 10px;
    font-size: 1.2rem;
}

legend span {
    margin-left: 10px;
    color: #999;
}

.space {
    height: 100%;
    width: 100%;
    position: relative;
}

.space div {
    position: absolute;
    height: 100%;
    width: 0;
    text-align: center;
    color: white;
    font-weight: bold;
    /* font-size: 1.7rem; */
    line-height: 40px;
    overflow: hidden;
}

.time_in {
    border-left: 2px solid #17b117;
    border-right: 2px solid #17b117;
    background: #17b11777;
}

.schedule {
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    background: #fff7;
}

#container {
    overflow: hidden;
    overflow-y: scroll;
}

#moon {
    padding: 10px;
    position: fixed;
    top: 0;
    right: 0;
    font-size: 3rem;
}